


<dialog class="mdl-dialog modal-dialog-success  modal-dialog-custom">
    <div class="mdl-dialog__content div-custom">
        <h1 id="h_title">Thanks.</h1>
        <p id="texto_modal">
            <i class="material-icons  mdl-list__item-avatar show-modal-success"
               style="cursor: pointer">info</i>
            Your answer was sbmitted successfully!
        </p>

    </div>
    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect close-button"
            style="float: right !important;">
        Close
    </button>
</dialog>